@font-face {font-family: DS-TERM; src: url(fonts/DS-TERM.TTF);}
@font-face {font-family: Nunito src: url(https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900&display=swap);}

/* testo nome pafine/post nell'header*/
.md-header__topic:first-child {font-weight: lighter;}
.md-header__title>.md-header__ellipsis { height: 100%;  position: relative;  width: 100%;  /*font-weight: 400!important;*/   font-family: DS-TERM; font-size: 1.12rem; margin-left: -32px; color: #ff0000; margin-top:-1px;  /*text-shadow: 0.5px 0.5px 0px #1214238a;*/}

/*/@media screen and (min-width: 76.25em) { .md-nav--primary .md-nav__title {display: none;}} */
aside, body, input { color: #666666!important;}
/* gbvitrano*/
.md-consent__overlay {display: none!important; }
/* Dimensione pagina Site width etc.*/
.md-grid {  max-width: 65rem !important;
	 /*max-width: 100% !important;*/}
.md-typeset hr {      border-bottom: 0!important;
    display: flow-root;
    margin: 0em 0!important;}
	
	/* margine numero di pagine*/
.md-pagination {margin-top: 90px!important;}

/*Colori primari*/
[data-md-color-primary=white] {
    --md-primary-fg-color: #fff; /*Sfondo header*/
    --md-primary-fg-color--light: #ffffffb3; /**/
    --md-primary-fg-color--dark: #00000012; /**/
    --md-primary-bg-color: #ff0000; /* colore base*/
    --md-primary-bg-color--light: #0000008a; /**/
    --md-typeset-a-color: #121423; /**/
	
}

[data-md-color-accent=red] {
    --md-accent-fg-color: #ff1947; /**/
    --md-accent-fg-color--transparent: #ff19471a; /**/
    --md-accent-bg-color: #fff; /**/
    --md-accent-bg-color--light: #ffffffb3; /**/
	
}

:root, [data-md-color-scheme=default] {
	--md-default-bg-color: #ffffff;
	--md-default-fg-color: #121423; /*colore testo*/ 
    --md-default-fg-color--light: #ff00008a; /*colore titolo post*/ 
    --md-default-fg-color--lighter: #12142352;
    --md-default-fg-color--lightest: #12142312;
	--md-footer-bg-color--dark: #121423; /*colore footer*/ 
	--md-footer-fg-color: #121423; /*colore footer link page avanti/indietro */ 
	--md-footer-bg-color: #ffffff;
	
}	
/*
background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(7,8,93,0.7455357142857143) 50%, rgba(255,255,255,1) 100%);**

/*Banner*/
.md-banner {height: 0px!important;  background-color: #121423!important; }
/*aside {display: none !important;}*/

/* logo personalizzato*/
 .md-header__button.md-logo img, .md-header__button.md-logo svg {height:1.28rem!important;    /*width: 5rem!important; padding-right: 3rem!important;*/ box-shadow: none !important; border: none !important;	border-radius:  none !important;	moz-border-radius: none !important; -webkit-border-radius: none !important;	background-color: transparent !important;}

/* logo personalizzato mobile*/
 .md-nav__title .md-nav__button.md-logo img, .md-nav__title .md-nav__button.md-logo svg {fill: currentColor; display: block; height: 2rem!important; /*width: 2.5rem !important; padding-right: 3rem; */ box-shadow: none !important;  border: none !important; border-radius: none !important; moz-border-radius: none !important; -webkit-border-radius: none !important;   background-color: transparent !important;}


/*base icona home*/
.svg-inline--fa.fa-stack-2x { width: 1em!important;}

/*Desktop -  forza il back to top a tornare in basso*/
.md-top {
    background: var(--md-primary-fg-color); 
    border-radius: 100%; 
    bottom: .4rem; 
    box-shadow: 0 0.2rem 0.5rem rgb(0 0 0 / 10%), 0 0.025rem 0.05rem rgb(0 0 0 / 10%); 
    color: var(--md-primary-bg-color); 
	font-size: 0px!important; 
    float: right; 
    margin: -2.8rem .4rem .4rem;
    padding: .4rem; 
   /* position: -webkit-sticky; */
    position: sticky; 
    transform: translateY(0)!important; 
    transition: opacity 125ms,transform 125ms cubic-bezier(.4,0,.2,1),background-color 125ms; 
    z-index: 1; } 
	
 /*sposta più in alto il back to top in mobile se è installata la condivisione social;
 @media screen and (max-width: 1100px) { .md-top {bottom: 2.5rem!important;}} */

/*Disattiva wordart a hfc*/
.wordart-attribution, .tagul-attribution  {display: none !important;}

/* linea separazione */
hr  {border: 0;    height: 0.5px;   background: #ff0000!important;   background-image: linear-gradient(to right,  #fff, #ff00002e,  #fff)!important;margin-top:20px;margin-bottom:20px;}

/* bordo immagine*/
img {    box-shadow: 0 1px 2.5px rgba(0,0,0,0.65);  border-radius: 5px;  moz-border-radius: 5px;   aspect-ratio: auto;}
/* crop immagine*/
/*img.crop {object-fit: cover; width: 100%; height: 250px; border-radius: 1%; object-position: 50%;}*/
/*img.crop {object-fit: cover; width: 472px; height: 280px; border-radius: 1%; object-position: 50%;  } */
img.crop1 {    object-fit: cover; width: 200px;  height: 107px; border-radius: 1%; object-position: center; margin-left: 15px; margin-top: 15px; box-shadow: 0 1px 2.5px rgba(0,0,0,0.20)!important;  border-radius: 5px;  moz-border-radius: 5px;} 
.off { object-fit: cover; width: 0; height:0px; border: 0px solid #fff; padding: 0px;}
img.nobox {box-shadow: none !important; border: none !important;	border-radius:  none !important;	moz-border-radius: none !important; -webkit-border-radius: none !important;	background-color: transparent !important;	}
/*Ridimensiona immagine*/
img.resized10 { width: 10%; height: auto; margin:1px; }
img.resized15 { width: 15%; height: auto; margin:1px; }
img.resized20 { width: 20%; height: auto; margin:1px; }
img.resized25 { width: 24%; height: auto; margin:1px; }
img.resized33 { width: 32%; height: auto; margin:1px; }
img.resized35 { width: 33%; height: auto; margin:1px; }
img.resized50 { width: 48%; height: auto; margin:1px; }
img.resized75 { width: 75%; height: auto; margin:1px; }	
img.resized50c { width: 48%; height: auto; margin:0px auto; text-align: center; display: block; }	

 @media screen and (max-width: 640px) { img.resized25 { width: 48%; height: auto; margin:1px; }} */
/*
.off {visibility: visible; }
.off.attivo {visibility: visible; }
.off:not(.attiva) {    display: none;}*/

/*immagine bianco/nero*/
.gray  {  filter: grayscale(0);}
.gray:hover {filter: grayscale(100%);-webkit-filter: grayscale(100%);transition: filter 600ms ease;-webkit-transition: -webkit-filter 600ms ease;}
/*disattiva immagine*/
/*.gray:not(.attiva) {    display: none;}*/	
	
/* immagine no bordo/ no ombra */
.immagonobox {	max-width: 100%!important;    height: auto!important;	box-shadow: none !important; border: none !important;	border-radius:  none !important;	moz-border-radius: none !important; -webkit-border-radius: none !important;	background-color: transparent !important;	}	
/*	
.nobox {	width: 30%!important;    height: auto!important;	box-shadow: none !important; border: none !important;	border-radius:  none !important;	moz-border-radius: none !important; -webkit-border-radius: none !important;	background-color: transparent !important; object-position: 0 -.095rem;	}	*/

/*Liana di separazione post*/
.md-post--excerpt {
    margin-bottom: 3.2rem;
   /* border-bottom: solid 1px;
	border-image-source: linear-gradient(to right,#fff, #ff00002e, #fff)!important;
	border-image-slice: 5;*/
	padding-bottom:50px;
  }

 /*box codice*/
.md-typeset pre>code {background-color: #bfbfbf80; border-radius: 5px;	moz-border-radius: 5px; -webkit-border-radius: 5px;	border: 1px solid #fefefe;	padding: 10px;}

/*Intestazioni H1 H2...*/
.md-typeset h1, .md-typeset h2, .md-typeset h3  { color: var(--md-default-fg-color--light); font-weight: 500;} /* colore*/
.md-typeset h1 {letter-spacing: -.01em; font-size: 1.8rem; color: #121423; }
.md-typeset h2 {letter-spacing: -.01em;	font-size: 1rem; }
.md-typeset h3 {letter-spacing: -.01em;font-size: .8rem; }
	

/*Link*/
.md-tabs__link {font-size: .75rem !important; font-weight: bold; }/* link testo menu header*/
/*.md-tabs {color: #121423;}	/* link testo non attivo  menu header*/
.md-tabs__item {color: #121423;}
.md-tabs__item--active {color: var(--md-accent-fg-color)}  /* link testo attivo  menu header*/
.md-tabs__link:hover {  color: var(--md-accent-fg-color);} /* link testo hover  menu header*/
/*.md-tabs__link:active {color: var(--md-accent-fg-color); }*/


a.toclink { text-decoration: none!important; font-weight: 500; color: var( --md-default-fg-color); } /*link testo titolo post*/
.md-typeset a {text-decoration: underline;} /*generale paragrafo*/

.md-post--excerpt .md-post__content>:first-child {font-size: 1.4rem;}

nav.md-post__action a {text-decoration: underline!important;}

/*Torna all'indice di categoria*/
.md-nav__title1 {color: var(--md-default-fg-color--light); font-weight: bold; }
.md-nav__link1 {    align-items: flex-start;    display: flex;    margin-top: .625em;    scroll-snap-align: start;    transition: color 125ms;}
.md-nav__link1:hover {color: #ff0000; }
.md-nav__link1 svg {fill: currentcolor; flex-shrink: 0; height: 1.3em;     position: relative; top: 5px;}
[dir=ltr] .md-nav__link1 svg+* {margin-left: .4rem;}

/*Menu toc sx*/
.md-nav__item .md-nav__link--active {    font-weight: bold !important; font-size: .75rem !important; color: var(--md-default-fg-color--light); 
  text-transform: uppercase;} /*testo maiuscolo pagina attiva*/

/*Tag*/
.md-typeset .md-tag[href] {text-decoration: none;  color: var(--md-default-fg-color--light);}
.md-typeset .md-tag {    background: #ffffff;    border-radius: .1rem; display: inline-block; font-size: .6rem;   font-weight: 600;   letter-spacing: normal;  line-height: 1.6;  margin-bottom: .5em;   padding: .3125em .9375em;    vertical-align: middle;}

/*footer*/
html .md-footer-meta.md-typeset a {color: #ffffff!important;} 

 /* scrollbar*/
::-webkit-scrollbar {
    width: 7px;
	height:7px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 10px rgba(255,255,255,0.9); 
    border-radius: 0px;
}
 
::-webkit-scrollbar-thumb:vertical {
height: 50px;
background-color: #ff0000;
border: 1px solid #ff00096;
-webkit-border-radius: 6px;
max-height:100px;
}  

/* Admonitions - info*/
.md-typeset .admonition.info, .md-typeset details.info {border-color: #0000001f;}
.md-typeset .info>.admonition-title:before, .md-typeset .info>summary:before {background-color: #ff00008a;}
.md-typeset .info>.admonition-title:after, .md-typeset .info>summary:after {color: #ff00008a;}
.md-typeset .info>.admonition-title, .md-typeset .info>summary {background-color: #ff000054;}
.md-typeset .admonition.info:focus-within, .md-typeset details.info:focus-within { box-shadow: 0 0 0 0.1rem #ff00001c;}

/*zoom image*/
.goverlay { background: #121423b0!Important;}
.glightbox-clean .gslide-title { color: #fff!Important;  display: flex!Important;  justify-content: center!Important;  align-items: center!Important;} 
.glightbox-clean .gslide-description {background: #121423e6!Important;     margin-top: 5px!Important;     border-radius: 5px!Important;}

/*div affiancati*/
div_a { float:left; display:block; width:50%; height:50%; background-color:#F00;clear:both; } 
div_b { float:left; display:block; width:50%; height:50%; background-color:#FF0; clear:both;} 
